<% content_for :page_title do %>
    <%= Spree.t(:product_import_image_servers) %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new) + ' ' + Spree.t(:product_import_image_server), new_object_url, { :class => "btn-success", :icon => 'add', 'data-update' => 'new_product_import_image_server', :id => 'new_product_import_image_server_link' } %>
<% end %>

<% if @collection.any? %>
    <table class="table" id='product_import_image_servers' data-hook>
      <thead>
      <tr data-hook="product_import_image_servers_header">
        <th class="name"><%= Spree.t(:name) %></th>
        <th class="protocol"><%= Spree.t(:protocol) %></th>
        <th class="url"><%= Spree.t(:url) %></th>
        <th class="actions"></th>
      </tr>
      </thead>

      <tbody>
      <% @collection.each do |server| %>
          <tr>
            <td class="name"><%= server.name %></td>
            <td class="protocol"><%= server.protocol %></td>
            <td class="url"><%= server.url %></td>
            <td class="actions actions-2 text-right">
              <%= link_to_edit(server, :no_text => true) %>
              <%= link_to_delete(server, :no_text => true) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ProductImportImageServer)) %>.
      <%= link_to Spree.t(:add_one), new_object_url %>!
    </div>
<% end %>
