<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_import_image_server } %>

<% content_for :page_title do %>
    <%= Spree.t(:new) + ' ' + Spree.t(:product_import_image_server) %>
<% end %>

<%= form_for( [:admin, @product_import_image_server] )do |f| %>
    <fieldset data-hook="new_product_import_image_server">
      <%= render partial: 'form', locals: { f: f } %>
    </fieldset>

    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
<% end %>

