<%= render partial: 'spree/admin/shared/product_import_tabs', locals: {current: :details} %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_import } %>

<%= form_for( [:admin, @product_import], html: { multipart: true } )do |f| %>
  <fieldset data-hook="new_product_import">
    <%= render partial: 'form', locals: { f: f } %>
  </fieldset>
  <% if @product_import.state == 'pending' %>
    <div class="form-actions">
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </div>
  <% end %>
<% end %>
