<% content_for :page_title do %>
    <%= Spree.t(:review) + ' ' + Spree.t(:product_import) %>
<% end %>

<div id="results"></div>

<div id="product-import-data-wrapper">
  <table class="table" id='product_import_data' data-hook>
    <thead>
      <th class="id"><%= Spree.t(:id) %></th>
      <th class="product_id"><%= Spree.t(:product_id) %></th>
      <th class="sku"><%= Spree.t(:sku) %></th>
      <th class="state"><%= Spree.t(:state) %></th>
      <th class="name"><%= Spree.t(:name) %></th>
      <th class="primary_category"><%= Spree.t(:primary_category) %></th>
      <th class="brand"><%= Spree.t(:brand) %></th>
      <th class="collection"><%= Spree.t(:collection) %></th>
      <th class="publish_status">Publish Status</th>
    </thead>

    <tbody>
      <% @item_display_data.each do |item| %>
          <tr data-product-import-id="<%= item['id'] %>">
            <td class="id"><%= item['id'] %></td>
            <td class="product_id"><% unless item['product_id'].nil? %><%= link_to(item['product_id'], edit_admin_product_path(item['product_id'])) %><% end %></td>
            <td class="sku"><%= item['sku'] %></td>
            <td class="state"><span class="label label-<%= item['state_label'] %>"><%= item['state'] %></span></td>
            <td class="name"><%= item['name'] %></td>
            <td class="primary_category"><%= item['primary_category'] %></td>
            <td class="brand"><%= item['brand'] %></td>
            <td class="collection"><%= item['collection'] %></td>
            <td class="publish_status"><% if item['publish_status'].to_i == 0 %><span style="color: red;">✘</span><% else %><span style="color: green;">✔</span><% end %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions" data-hook="buttons">
  <% unless @product_import.state == 'complete' %>
    <%= button_to import_admin_product_import_path(@product_import), { class: 'btn btn-success', remote: true , form: { 'style' => 'display:inline;' } } do %>
        <%= content_tag(:span, '', class: "icon icon-ok") %> <%= Spree.t('import') %>
    <% end %>
    <span class="or"><%= Spree.t(:or) %></span>
  <% end %>
  <% if @product_import.state == 'complete' %>
    <%= button_link_to Spree.t('actions.back'), admin_product_imports_url, :icon => 'remove' %>
  <% else %>
      <%= button_link_to Spree.t('actions.cancel'), admin_product_imports_url, :icon => 'remove' %>
  <% end %>
</div>

